<div id="homepage-container">
  {{!-- Homepage tile --}}
  <div class="jumbotron text-center">
    <h1 class="display-4">Career Connections</h1>
    <p class="lead">Discover, Connect, and Succeed Together</p>
  </div>
{{!-- HandleBar partial --}}
{{#each posts as |post|}}
  {{> postDetails}}
{{/each}}



<button class="btn btn-primary" id="showMoreButton">Show 5 More</button>

{{!-- New Post Modal --}}
<button class="btn btn-primary" id="newPostButton">New Post</button>
 <div id="newPostModal" class="modal">
    <div class="modal-content">
      <span class="close">&times;</span>
        <h2>Create a New Post</h2>
      <form id="newPostForm">
        <input type="text" id="title" name="title" placeholder="Title"><br>
        <textarea name="content" id="content" placeholder="Content"></textarea><br>
        <input type="submit" id="createPostSubmit" value="Submit">
      </form>
    </div>
  </div>
  </div>
<script src="/js/homepage.js"></script>
