{{!-- <h2>Login</h2>

<form class="form login-form">
  <div class="form-group">
    <label for="email-login">email:</label>
    <input class="form-input" type="text" id="email-login" />
  </div>
  <div class="form-group">
    <label for="password-login">password:</label>
    <input class="form-input" type="password" id="password-login" />
  </div>
  <div class="form-group">
    <button class="btn btn-primary" type="submit">login</button>
  </div>
  <div class="form-group">
    <button class="btn btn-primary" type="submit">Create Account</button>
  </div>
</form>

<script src="/js/login.js"></script> --}}


<form>
  <!-- Email input -->
  <div class="form-outline mb-4">
    <input type="email" id="email-input" class="form-control" />
    <label class="form-label" for="email-input">Email address</label>
  </div>

  <!-- Password input -->
  <div class="form-outline mb-4">
    <input type="password" id="password-input" class="form-control" />
    <label class="form-label" for="password-input">Password</label>
  </div>

  <!-- 2 column grid layout for inline styling -->
  <div class="row mb-4">
    <div class="col d-flex justify-content-center">
      <!-- Checkbox -->
      <div class="form-check">
        <input class="form-check-input" type="checkbox" value="" id="remember-check" checked />
        <label class="form-check-label" for="remember-check"> Remember me </label>
      </div>
    </div>

  </div>

  <!-- Submit button -->
  <button id="login-form" type="submit" class="btn btn-primary btn-block mb-4">Sign in</button>

  <!-- Register buttons -->
  <div class="text-center">

    
    <p>Not a member? <a href="#!">Register</a></p>
  </div>
</form>

{{!-- Modal --}}
<!-- Button trigger modal -->
<button type="button" id="registerBtn" class="btn btn-primary" data-mdb-toggle="modal" data-mdb-target="#staticBackdrop4">
    Launch modal contact form
</button>

<!-- Modal -->
<div class="modal fade" id="staticBackdrop4" tabindex="-1" aria-labelledby="exampleModalLabel4" aria-hidden="true">
    <div class="modal-dialog d-flex justify-content-center">
        <div class="modal-content w-75">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel4">Create a new Account</h5>
                <button type="button" class="btn-close" data-mdb-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body p-4">
                <form>
                    <!-- Name input -->
                    <div class="form-outline mb-4">
                        <input type="text" id="name4" class="form-control" />
                        <label class="form-label" for="name4">Name</label>
                    </div>

                    <!-- Email input -->
                    <div class="form-outline mb-4">
                        <input type="email" id="email4" class="form-control" />
                        <label class="form-label" for="email4">Email address</label>
                    </div>

                    <!-- Github input -->
                    <div class="form-outline mb-4">
                        <input type="text" id="github" class="form-control" />
                        <label class="form-label" for="github">GitHub</label>
                    </div>

                    <!-- LinkedIn input -->
                    <div class="form-outline mb-4">
                        <input type="text" id="linkedIn" class="form-control" />
                        <label class="form-label" for="linkedIn">LinkedIn</label>
                    </div>
                      <!-- Password input -->
                    <div class="form-outline mb-4">
                        <input type="password" id="password" class="form-control" />
                        <label class="form-label" for="password">Password</label>
                    </div>

                    {{!-- <!-- textarea input -->
                    <div class="form-outline mb-4">
                        <textarea id="textarea4" rows="4" class="form-control"></textarea>
                        <label class="form-label" for="textarea4">Your message</label>
                    </div> --}}

                    {{!-- <!-- Checkbox -->
                    <div class="form-check d-flex justify-content-center mb-4">
                        <input class="form-check-input me-2" type="checkbox" value="" id="checkbox4" checked />
                        <label class="form-check-label" for="checkbox4">
                            Send me a copy of this message
                        </label>
                    </div> --}}

                    <!-- Submit button -->
                    <button id="createAccountSubmit" type="submit" class="btn btn-primary btn-block">Send</button>
                </form>
            </div>
        </div>
    </div>
</div>
<!-- Modal -->

<script src="/js/login.js"></script>
<script src="/js/signup.js"></script>